.carousel-inner {
    position: relative;
}

.item.active {
    left: 20% !important;
}

.item {
    left: 20% !important;
}

.container {
    position: relative;
}

.carousel-caption {
    position: relative;
}

h1 {
    margin-bottom: 6% !important;
    margin-left: -40% !important;
}

.lefty {
    margin-left: -30% !important;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-control.right {
    background-image: none !important;
}
